<!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <meta charset="UTF-8">
       <title>Books</title>
       <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>
   <div class="container">
       <header>
       <h2>Books</h2>
       </header>
       <table>
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Name</th>
<!--                   <th>Serial Name</th>-->
                   <th>Author</th>
               </tr>
           </thead>
           <tbody>
               <tr th:each="book : ${books}">
                   <td th:text="${book.id}"></td>
                   <td th:text="${book.name}"></td>
<!--                   <td th:text="${book.serialName}"></td>-->
                   <td th:text="${book.author}"></td>
               </tr>
           </tbody>
       </table>
       <a class="createButton" href="/books/add">Create Book</a>
       <footer style="color:#555;">
           <p>&copy; 2023 Library. All rights reserved.</p>
       </footer>
   </div>
   </body>
   </html>